/* 3중 그라데이션 배경 */
body {
    background: linear-gradient(135deg, #ffcccc, #ffcce5, #cce5ff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 버튼 스타일 */
.btn-primary {
    background-color: #ddbbdd;
    border-color: #ddbbdd;
    color: #fff;
}

/* 버튼 호버 효과 */
.btn-primary:hover {
    background-color: #ffddff;
    border-color: #ffddff;
}

/* 카드 헤더 스타일 */
.card-header {
    background-color: #ddbbdd;
    color: #fff;
}

/* 링크 색상 */
.custom-link {
    color: #dd66bb;
}

.custom-link:hover {
    color: #cc5599;
}
