/* profile.css */

/* 3중 그라데이션 배경 */
body {
	background: linear-gradient(135deg, #ffcccc, #ffcce5, #cce5ff);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 기본 레이아웃 설정 */
.container {
	max-width: 500px;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h2 {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

/* 입력 필드 스타일 */
.form-label {
	font-weight: bold;
	color: #555;
}

.form-control {
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

/* 버튼 스타일 */
.btn-primary {
	background-color: #ddbbdd;
	border-color: #ddbbdd;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	width: 100%;
}

/* 버튼 호버 효과 */
.btn-primary:hover {
	background-color: #ffddff;
	border-color: #ffddff;
}

/* 링크 색상 */
.custom-link {
	color: #dd66bb;
}

.custom-link:hover {
	color: #cc5599;
}

/* 응답형 스타일 */
@media ( max-width : 576px) {
	.container {
		padding: 10px;
	}
}